* {
	box-sizing: border-box;
	font-family: 'Montserrat',sans-serif;
}

html,body{
	height: 100%;
}

body > section {
	position: relative;
	top: 50%;
	transform: translateY(-70%);
	float: left;
}
aside{
	display: inline-block;
	width: 50%;
	float: left;
}

aside img{
	width: 80%;
	height: auto;
}
main{
	display: inline-block;
	width: 49%;
	float: left;
}